{% extends "base.html" %}
{% load static core_tags i18n %}

{% block content %}
<div class="polls polls{{question.get_effective_extra_style_hints}}">
<h2 class="poll__question--title">{{ question.title }}</h2>
  {% if form.answer.errors %}
  <h4 class="polls__choice-error">{{form.answer.errors|join:", " }}</h4>
  {% endif %}
  <form action="{% url 'molo.polls:free_text_vote' question.id %}" method="post" class="polls__form">
  {% csrf_token %}
    {{form.answer}}
    <input type="submit" value="{% trans "Vote" %}"/>
    <div class="call-to-action call-to-action--polls">
      <a href="{{request.site.root_page.url}}" class="call-to-action__nav-item call-to-action__nav-item--back-home">{% trans "Back to Home page" %}</a>
    </div>
  </form>
</div>
{% endblock %}
