{% load i18n static poll_votings %}
{% block content %}
{% if questions %}
{% for question in questions %}
<div class="polls">
  {% if forloop.first%}
  <h4 class="poll__title">{% trans "What's your opinion?" %}</h4>
  {% endif %}
  <div class="poll__form-block">
    <h2 class="poll__question-title">{{ question.title }}</h2>
    {% if question.freetextquestion %}
      {% include 'polls/includes/poll_free_text_form.html'%}
      {% else %}
      {% include 'polls/includes/poll_question_form.html'%}
      {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
