molo.core==6.10.3
molo.surveys==6.10.5
molo.commenting==6.2.9
molo.polls==6.4.0
molo.usermetadata==6.0.0
elasticsearch==1.7.0
django-modelcluster==3.1
djangorestframework==3.4.0
celery<4.0
gunicorn
psycopg2
django_compressor==2.2
django-mptt==0.8.7
django-google-analytics-app==4.3.3
Unidecode==0.04.16
azure-storage==0.20.2
django-storages==1.6.3
dj-database-url>=0.5.0,<0.6.0
boto
pyrabbit
responses
python-cas==1.2.0
markdown>=3.0.1
redis==2.10.6
