molo.core==4.4.7
molo.surveys==2.2.0
molo.profiles==3.0.0
molo.commenting==2.0.1
molo.polls==3.2.0
molo.usermetadata==1.1.2
celery<4.0
gunicorn
psycopg2
django-extensions
six>=1.9
html5lib==0.9999999
django-mptt==0.8.5
django-google-analytics-app==2.1.4
