# IoGT 1.x has reached end of life
# requirements.txt was frozen on 2020-11-16 to prevent regular failed builds
# caused by the project's dependencies being updated. Frozen versions should
# be reviewed with each deployment to test environment (see requirements.bak)
amqp==1.4.9
anyjson==0.3.3
azure-common==1.1.26
azure-nspkg==3.0.2
azure-storage==0.20.2
Babel==2.7.0
backports.csv==1.0.7
beautifulsoup4==4.6.0
billiard==3.3.0.23
binaryornot==0.4.4
boto==2.48.0
cached-property==1.5.1
celery==3.1.26.post2
certifi==2019.9.11
chardet==3.0.4
click==3.3
cookiecutter==1.0.0
dateparser==0.7.6
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==1.11.24
django-appconf==1.0.3
django-cas-ng==3.5.8
django-celery==3.3.1
django-compressor==2.2
django-contrib-comments==1.7.1
django-daterange-filter==1.3.0
django-el-pagination==3.1.0
django-extensions==1.9.9
django-google-analytics-app==4.3.3
django-import-export==1.2.0
django-libsass==0.7
django-model-utils==3.2.0
django-modelcluster==3.1
django-mptt==0.8.7
django-notifications-hq==1.5.0
django-phonenumber-field==1.3.0
django-storages==1.6.3
django-taggit==0.22.2
django-treebeard==4.2.0
djangorestframework==3.4.0
djangorestframework-jwt==1.11.0
elasticsearch==1.7.0
et-xmlfile==1.0.1
gunicorn==19.9.0
html5lib==0.9999999
httplib2==0.18.1
idna==2.8
ImageHash==3.4
jdcal==1.4.1
Jinja2==2.10.1
jsonfield==2.1.1
kombu==3.0.37
libsass==0.19.2
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
molo.commenting==6.2.9
molo.core==6.10.3
molo.polls==6.4.0
molo.surveys==6.10.5
molo.usermetadata==6.0.0
mote-prk==0.2.1
numpy==1.17.2
odfpy==1.4.0
openpyxl==2.6.3
phonenumberslite==8.10.19
Pillow==6.1.0
psycopg2==2.8.3
PyJWT==1.7.1
pyrabbit==1.1.0
python-cas==1.2.0
python-dateutil==2.8.1
pytz==2019.2
PyWavelets==1.0.3
PyYAML==5.1.2
raven==5.0.0
rcssmin==1.0.6
redis==2.10.6
regex==2020.11.13
requests==2.22.0
responses==0.12.1
rjsmin==1.0.12
scipy==1.3.1
sentry-sdk==0.10.2
six==1.11.0
structlog==19.1.0
swapper==1.1.2.post1
tablib==0.13.0
typing==3.7.4.1
tzlocal==2.1
ua-parser==0.10.0
ujson==1.35
unicodecsv==0.14.1
unicore.content==1.0.4
Unidecode==0.4.16
urllib3==1.25.10
user-agents==2.2.0
wagtail==1.13.4
wagtail-personalisation-molo==0.11.3
wagtail-schema.org==0.3.0
wagtailfontawesome==1.2.1
wagtailmedia==0.1.3
wagtailsurveys==0.1.1
webencodings==0.5.1
Willow==1.0
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
