molo.core==3.7.4
molo.surveys==1.2.1
molo.profiles==1.2.6
molo.commenting==0.5.4
molo.polls==2.0.3
molo.usermetadata==1.1.2
gunicorn
psycopg2
django-extensions
six>=1.9
html5lib==0.9999999
django-mptt==0.8.5
