.related-articles {

  p {
    margin: 0;
  }
}

.related-articles__up-next {
  border-top: 1px solid #cfd4d5;
}
.related-articles__up-next,
.related-articles__recommended {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: normal;
}
.promoted-article-list__anchor-grid {
  display: block;
  height: auto;
}


//UP NEXT - LIST
.related-articles-up-next {
  padding: 0 0 10px;
}
.related-articles-up-next__title {
  padding: 10px 15px;
  color: #000;
  a {
    color: #000;
  }
}
.related-articles-up-next__desc {
  padding: 0 15px;
}

//RECOMMENDED - LIST
.related-articles-recommended {
  overflow: auto;
}
.related-articles-recommended-list__content {
  padding: 0 10px;
}
.related-articles-recommended__title {
  word-wrap: break-word;
  padding: 0;
  color: #000;
  font-size: 25px;
  a {
    color: #000;
  }
}
.related-articles-recommended__desc {
  margin: 0;
}
.related-articles-recommended-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.related-articles-recommended-list__item {
  margin: 0 0 20px;
  padding: 15px 0 0;
  overflow: auto;
  clear: both;
  border-top: 1px solid #cfd4d5;
}
