
.article-list__item {
  position: relative;
  border-bottom: solid 1px #e4e4e4;
  overflow: auto;
  a {
    display: block;
    color: #666666;
  }
}

.article-list__container {
  clear: both;
  padding: 5px 15px;
  overflow: auto;
  a {
    display: block;
  }
}

.article-list__container--hero {
    padding: 0 0 5px;
    .article-list__section,
    .article-list__title,
    .article-list__subtitle {
      padding: 5px 15px 0;
    }
}

.article-list__image,
.article__image {
  display: block;
  //width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto 10px;
}
.article-list__image--small {
  width: 50%;
  height: auto;
}
.article-list__title {
  color: #000;
  font-size: $font-x-medium;
  line-height: 1.1;
  word-wrap: break-all;
}
.article-list__subtitle {
  font-weight: normal;
}
.section-list {
  .article-list__comments-counter {
    padding: 10px 10px 5px;
  }
}
.article-list__comments-counter {
  text-transform: capitalize;
  font-size: $font-small;
  padding: 0 10px 5px;
  color: #757575;
   clear: left;
}
.comment-counter__text {
  display: inline-block;
}
.article-list__item--hero {
  .article-list__title {
   font-size: $font-x-large;
  }
  .article-list__image {
    img {
      max-width: 100%;
    }

  }
}

.article-list__section {
  text-transform: uppercase;
  padding: 10px 0 0;
}
