.article__content {
  word-wrap: break-word;
  a {
    color: #000;
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
  }

  .featured-articles {
    display: block;
    padding: 5px 15px;
  }

  p {
    padding: 0 15px;
  }

  //General article ol, ul, li entered inside the Body P tags - no way of adding classes
  ol li, ul li {
    padding: 0 0 10px;
    p {
      margin: 0;
    }
  }
  ol {
    padding: 0 30px;
    li  {
      list-style-type: decimal;
    }
  }
  ul {
    padding: 0 30px;
    li {
      list-style-type: disc;
    }
  }


  //Article ol, ul, li entered inside the  List and Numbered List Wagtail streamfields
  .article-unordered-list {
    .article-unordered-list__item {
      list-style-type: disc;
    }
  }

  .article-numbered-list {
    padding: 0 15px;
    .article-numbered-list__item {
      list-style-type: none;
      padding: 0 0 10px;
    }
  }
}



.article__image  {
  display: block;
}
.article__title {
  padding: 0 15px 10px;
  font-size: 27px;
  color: #000;
}

.article__subtitle {
  padding: 0 15px;
  margin: 0;
}

.article__heading {
  padding: 10px 15px;
}

.article-numbered-list {
  padding: 0 15px;
  counter-reset:li;
}

.article-numbered-list__item {
  content:counter(li);
  padding: 10px 0;

  &:before {
    content: counter(li)'.';
    counter-increment:li;
    display: inline-block;
    font-size: $font-x-large;
    padding: 0 10px 0 0;
  }
}

.article-list__comments-counter .icon {
  display: none;
}
