
.pagination {
  padding: 5px 10px;
  .pagination__current {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }
  a {
    color: #666;
  }
}

.pagination__link {
  font-size: $font-small;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  padding: 15px;
}
.pagination__link--current {
  font-size: $font-x-small;
  padding: 5px 15px 0 0;
}

.pagination--numbered {
  position: relative;
}
.pagination__pages-numbers {
  display: inline-block;
}
