
.article-list__image {
  margin: 0 auto;
}
.article-list__item--hero .article-list__image {
  width: auto;
}
.article-list__image--small {
  float: right;
  padding: 45px 0 15px 15px;
}

@each $name, $color in $color_list {
  .article-list__container--#{$name} {
    .article-list__section {
      color: $color;
    }
  }
}
