.article-list__section  {
  padding: 0;
}
.article-list__image--small {
  float: right;
  padding: 45px 0 20px 15px;
  width: 50%;
  height: auto;
}

@each $name, $color in $color_list {
  .article-list__container--#{$name} {
    .article-list__section {
      color: $color;
    }
  }
}
