 .article-list__comments-counter .icon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 13px;
  height: 16px;
}
.comment-counter__text {
  display: none;
}
.call-to-action__comment-item--report {
  position: absolute;
  right: 15px;
  top: 5px;
}

.comment-form {
  input[type="submit"] {
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    margin: 5px 0;
    font-weight: normal;
  }
}

#anonymous-submit {
  text-align: right;
}

@each $name, $color in $color_list {
  .comment-form--#{$name} {
    input[type="submit"],
    #anonymous-submit,
    .call-to-action__comment-item--feedback {
      color: $color;
    }
  }
  .comment-form--#{$name} {
    input[type="submit"] {
      background: $color;
      color: #fff;
    }
    #anonymous-submit {
      background: none;
    }
  }

  .article-list__comments-counter--#{$name} {
    .icon  {
      fill: $color;
    }
  }
}
