 .personae {
  position: relative;
   a {
      text-decoration: none;
      clear: both;
   }
}
.personae-list__item {
  padding: 10px 15px;
  overflow: auto;
  img {
    display: block;
  }
}
.personae__title:after {
  content: "❯";
  display: inline-block;
  float: right;
}
.personae-list__item--image-container {
  border-radius: 100%;
  overflow: hidden;
  width: 65px;
  height: 65px;
  float: left;
}
.personae__skip {
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 20px 15px;
}

