
.pagination__link {
  text-align: right;
  &:after {
    font-size: $font-x-small;
    @media only screen and (min-width: 320px) { 
      content: ">";
    }
    @media only screen and (min-width: 490px) {
      content: "â¯";
    }
  }
}
.pagination__link--current {
  &:after {
    content: "";
  }
}