{% load wagtailcore_tags wagtailimages_tags i18n comments %}

{% if articles %}
<h1 class="heading heading--homepage">{% trans "Recommended" %}</h1>
<div class="section-list">
   <ul class="article-list">
    {% for article in articles %}
      <li class="article-list__item {% if forloop.first %} article-list__item--hero{% endif %}">
       <div class="article-list__container article-list__container{{article.get_parent_section.get_effective_extra_style_hints}}">
        <a href="{% pageurl article %}">
          {% if article.image %}
            {% if forloop.first %}
            {% image article.image width-290 class="article-list__image" %}
            {% else %}
            {% image article.image width-100 height-100 class="article-list__image article-list__image--small" %}
              {% endif %}
          {% endif %}
        </a>
        <a href="{% pageurl article.get_parent_section %}">
          <h3 class="article-list__section">{{ article.get_parent_section.title }}</h3>
        </a>
        <a href="{% pageurl article %}">
          <h2 class="article-list__title article-list__title--hero">{{article.title}}</h2>
          <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
        </a>
        </div>
        {% get_comment_count for article as comment_count %}
        {% if comment_count > 0 %}
          <a href="{% pageurl article %}#comments-list" class="article-list__comments-counter">
            {{comment_count}}
            <span class="comment-counter__text">{% trans "comment" %}{{comment_count|pluralize}}</span>
          </a>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
