
#language-selection__toggle {
  display: none;
}

.language-selection input + * {
  display: none;
}

.language-selection input:checked + * {
  display: block;
}

.language-list__item--active a {
  text-decoration: underline;
  &:after {
    text-decoration: none;
  }
}

.current-language, 
.select-language {
  padding: 0;
}

.select-language {
  text-decoration: none;
  font-weight: bold;
}
.language-list__item {
  text-align: right;
}