
#language-selection__toggle,
#language-selection__toggle--footer {
  display: block;
  position: absolute;
}

#language-selection__toggle {
  top: 30px;
  right: 40px;
}

#language-selection__toggle--footer  {
  right: 50px;
  top: 65px;
}


@media only screen and (min-width: 360px) { 
  #language-selection__toggle,
  #language-selection__toggle--footer {
    display: none;
  }
}

.language-selection input + * ,
.language-selection-footer input + * {
  display: none;
}

.language-selection input:checked + * ,
.language-selection-footer  input:checked + *  {
  display: block;
}

.language-list__item--active a {
  text-decoration: underline;
  &:after {
    text-decoration: none;
  }
}

.current-language, 
.select-language {
  padding: 0;
}

.select-language {
  text-decoration: none;
  font-weight: bold;
}
.language-list__item {
  text-align: right;
}