
#language-selection__toggle,
#language-selection__toggle--footer {
  visibility: hidden;
}

.language-selection input + * ,
.language-selection-footer input + * {
  display: none;
}

.language-selection input:checked + * ,
.language-selection-footer  input:checked + *  {
  display: block;
}

.language-list__item--active a {
  text-decoration: underline;
  &:after {
    text-decoration: none;
  }
}

.current-language, 
.select-language {
  padding: 0;
}

.select-language {
  text-decoration: none;
  font-weight: bold;
}
.language-list__item {
  text-align: right;
}