
.logo {
  display: inline;
}

#profile_icon,
#join_icon { background: url('../img/profile_icon.png') no-repeat center center; }
#menu_icon { background: url('../img/burger_icon.png ') no-repeat center center; }
#search_icon { background: url('../img/search_icon_white.png') no-repeat center center; }

.menu-list__item {
  a {
    display: block;
    text-decoration: none;
    &:after {
      content: " ▶ ";
      display: inline-block;
      float: right;
      padding: 3px 0 0;
    }
  }
}
.header__nav-item {
  padding-right: 23px;
  text-decoration: none;
  display: inline-block;
  text-indent: -999em;
  width: 21px;
  height: 23px;
}
.menu-links {
  display: inline-block;
  float: right;
  margin: 5% auto 0;
}

.menu-list__item--icon {
  display: inline-block;
  padding-right: 5px;
}     

@each $name, $color in $color_list {
  .menu-list__item--#{$name} {
    &:after { color: $color; }
    a { color: $color; }
  }
}