@each $name, $color in $color_list {
  .section--#{$name} {
    border-top: 2px solid $color;
    .section__title,
    .section-list-nav__item,
    .section-list-nav__item a,
    .section-list__title,
    .article-list__title,
    .section-list__more {
      color: $color;
    }

    .section-list {
      border-top: 2px solid $color;
    }
  }

  .section-list--#{$name} {
    border-top: 2px solid $color;
    .section-list__title--homepage,
    .section-list__more {
      color: $color;
    }
  }

  .section-list-nav--#{$name} {
    color: $color;
    .section-list-nav__item a,
    .section-list-nav__item--asteric:after {
      color: $color;
    }

    @media screen and (min-width: 320px) {
      color: #fff;
      background: $color;
      .section-list-nav__item a,
      .section-list-nav__item--asteric:after {
         color: #fff;
      }
    }
  }

}