
@import "_s-languages";

@media only screen and (min-width: 320px) {
  @import "_s-menu";
  @import "_s-heading";
  @import "_s-comments";
  @import "_s-survey";
  @import "_s-article";
  @import "_s-section";
  @import "_s-polls";
  @import "_s-search";
  @import "_s-pagination";
  @import "_s-profiles";
  @import "_s-personae";
	@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

  html, body,
  h1, h2, h3, h4, h5, h6,
  input, select, textarea {
    font-family: 'Lato', sans-serif;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"] {
    border-radius: 4px;
  }

  .call-to-action__nav-item,
  input[type="submit"] {
    white-space: nowrap;
  }

  input[type="submit"] {
    background: $victoria;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
}

@media only screen and (min-width: 600px) {

  html { background: #333; }

  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
