
//GENERAL 
  @import "_s-section";

//MOBILE
@media only screen and (min-width: 320px) {
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
  
  @import "_s-menu";
  @import "_s-heading";
  @import "_s-profiles";
  @import "_s-languages";
}

//DESKTOP
@media only screen and (min-width: 600px) {
  html { background:#333; }
  body {
    max-width: 320px;
    margin: 0 auto;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
  }

  .logo {
    padding-right: 30px;
    display: inline-block;
  }

  //Languages
  .current-language, .select-language {
    float: left;
    width: 50%;
    padding: 0;
  }
  .select-language {
    text-decoration: none;
    font-weight: bold;
  }

  .language-list__item {
    text-align: right;
  }


  //Header Nav
  .header__nav-item {
    padding-right: 23px;
    text-decoration: none;
    display: inline-block;
    text-indent: -999em;
    width: 21px;
    height: 23px;
  }
  #profile_icon,
  #join_icon { background: url('../img/profile_icon.png') no-repeat center center; }
  #menu_icon { background: url('../img/burger_icon.png ') no-repeat center center; }
  #search_icon { background: url('../img/search_icon_white.png') no-repeat center center; }



  //Section Article Listing 
  .section__image  {
    padding: 0;
  }
  .section__title {
    color: #666;
  }
  .section-list__more {
    text-decoration: none;
    text-align: right;
    &:after {
      content: " ▶ ";
    }
  }

  //Pesornae
  .personae {
    position: relative;
     a {
        text-decoration: none;
     }
  }
  .personae-list__item {
    padding: 10px 15px;
    display: flex;
    &:after {
      content: " ▶ ";
      display: inline-block;
      position: absolute;
      right: 0;
      margin: 5%;
    }
    img {
      display: block;
      max-height: 65px;
    }
  }
  .personae__skip {
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 20px 15px;
  }



  //Menu List
  .menu-list__item {
    a {
      display: block; 
      text-decoration: none;
      &:after {
        content: " ▶ ";
        display: inline-block;
        float: right;
        padding: 3px 0 0;
      }
    }
  }
  .search  {
    input[type="submit"] {
      background: url('/static/img/search_icon_black.png') no-repeat 0 0;
      position: absolute;
      right: 15px;
      top: 0;
      height: 21px;
      width: 21px;
      text-indent: -99em;
      margin: 10px 0;
    }
  }



  //Article List
  .article-list__comments-counter {
     &:before  {
      content: "";
      background: url('/static/img/comment_icon.png') no-repeat 0 1px;
      height: 21px;
      width: 21px;
      display: inline-block;
      background-size: 78%;
      vertical-align: middle;
     }
  }
  .comment-counter__text {
    display: none;
  }



  //Comments
  .comment-form {
    input[type="submit"] {
      text-align: center;
      text-decoration: none;
      padding: 10px 0;
      margin: 5px 0;
      font-weight: normal;
    }
  }

  .call-to-action__comment-item--feedback {
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .pagination__link {
    text-align: right;
    &:after {
      content: " ▶ ";
      font-size: $font-x-small;
    }
  }
  .pagination__link--current {
    &:after {
      content: "";
    }
  }

  #anonymous-submit {
      text-align: right;
  }
}


