
@media only screen and (min-device-width: 320px) {

  .l-indent--deep {
    padding: 18px 24px;
  }

  @import "_s-navigation";
  @import "_s-heading";
}

@media only screen and (min-width: 600px) {
  html {
    background:#333;
  }
  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
