
.promoted-article-list__anchor-grid {
  float: right;
  width: 30%;
  margin: 0 15px 0 0;
  .article__image-thumbnail {
    max-height: 150px;
    vertical-align: middle;
    width: 100%;
    margin: 0;
  }
}
.related-articles-recommended-list__content {
  padding: 0 0 0 15px;
  width: 55%;
}
@each $name, $color in $color_list {
  .related-articles--#{$name} {
    .related-articles__up-next {
      color: $color;
    }
  }

  .related-articles__recommended--#{$name}  {
    color: $color;
  }
}
