.pagination {
  padding: 5px 15px 15px;
}
.pagination__link{
  display: inline-block;
  &:hover {
    color: #666;
  }
}
.pagination__link--previous {
  float: left;
}
.pagination__link--next {
  float: right;
}
.pagination__link--arrow {
  display: inline-block;
}


//Numbered Pagination
.pagination--numbered {
  padding: 10px 15px 40px;
}
.pagination__previous-anchor {
  float: left;
}
.pagination__next-anchor {
  float:right;
}
.pagination__pages-numbers {
  text-align: center;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
}
@each $name, $color in $color_list {
  .section--#{$name} {
    .pagination__next-anchor,
    .pagination__previous-anchor,
    .pagination__page,
    .pagination__current{
      color: $color;
    }
  }

  .pagination__link--current  {
    color: $color;
  }
}
