.heading {
  background: #eee;
}
.heading--large {
  font-size: 32px;
}
.heading--purple {
  color: #fff;
  background: #4d4391;
}

.heading.heading--green {
  color: #6ec17f;
}


.heading--large.heading--green {
  color: #fff;
  background: #6ec17f;
}
