
.article-list__item {
  position: relative;
  border-bottom: solid 1px #e4e4e4;
  overflow: auto;
  a {
    display: block;
    color: #666666;
  }
}

.article-list__title {
  color: #000;
  font-size: $font-x-medium;
  line-height: 1.1;
  padding: 7px 0;
}

.article-list__title--hero {
 font-size: $font-xx-large;
}

.article-list__category {
  font-size: $font-small;
  text-transform: uppercase;
}





.article-list__content {
  padding: 10px 0 10px 15px;
  width: 55%;
}

.article-list__content--hero {
  padding: 10px 15px;
  width: auto;
  .article__title {
    font-size: $font-x-large;
  }
}


.article-list__thumbnail {
  float: right;
  padding: 22% 15px 0;
}

.article-list__thumbnail--hero {
  float: none;
  padding: 0;
  img {
    width: 100%;
  }
}




