
.article-list__container {
  padding: 10px 15px 10px;
  a {
    display: block;
  }
}

.article-list__item {
  position: relative;
  border-bottom: solid 1px #e4e4e4;
  overflow: auto;
  a {
    display: block;
    color: #666666;
  }
  &:last-child {
    border: none;
  }
}

.section-list__content {
  width: 50%;
}

.article-list__image,
.article__image {
  display: block;
  width: 100%;
  height: auto;
}
.article-list__image--small {
  width: 45%;
  height: auto;
}
.article-list__title {
  color: #000;
  font-size: $font-x-medium;
  line-height: 1.1;
  word-wrap: break-all;
}
.article-list__subtitle {
  font-weight: normal;
}

.article-list__comments-counter {
  text-transform: capitalize;
  font-size: $font-small;
  padding: 10px 15px;
  color: #757575;
} 
.comment-counter__text {
  display: inline-block;
}

.article-list__item--hero {
  .article-list__title {
   font-size: $font-x-large;
  }
  .article-list__image {
    img {
      max-width: 100%;
    }
  }
}

.article-list__section {
  text-transform: uppercase;
  padding: 10px 0 0;
}
