
.article-list {
  list-style: none;
}

.article-list__item {
  padding: 10px 20px;
  border-bottom: solid 1px #e4e4e4;
  overflow: auto;
}

.article-list__title {
  color: #000;
  font-size: 25px;
}

.article-list__image {
  width: 40%;
  height: auto;
  margin: 0 24px 9px 0;
  float: left;
}
.article__title {
  font-size: 22px;
}
.article__subtitle {
  font-weight: bold;
}
.article__image {
  margin: 24px 0;
  width: 100%;
  height: auto;
}
