
.heading {
  padding: 10px 15px 0;
  font-weight: normal;
}

.heading--large {
  font-size: 32px;
}

.heading--profiles {
  color: $victoria;
  font-size: $font-x-large;
  text-transform: capitalize;
}


.heading--navigation {
  color: #fff;
  background: #4d4391;
}

@each $name, $color in $color_list {
  .heading.heading--#{$name} {
    color: $color;
  }

  .heading--large.heading--#{$name} {
    color: #fff;
    background: $color;
  }
}


.section-heading {
  border-bottom: 1px solid #B0B9BB;
  padding: 10px 20px;
  a {
    display: block;
  }
}
