
.heading {
  background: #eee;
  padding: 0 0 15px;
}

.heading--large {
  font-size: 32px;
}

.heading--profiles {
  background: $victoria;
  color: #fff;
  font-size: $font-large;
  text-transform: capitalize;
}

.heading--navigation {
  color: #fff;
  background: #4d4391;
}

@each $name, $color in $color_list {
  .heading.heading--#{$name} {
    color: $color;
  }

  .heading--large.heading--#{$name} {
    color: #fff;
    background: $color;
  }
}
