.languages {
  background: $victoria;
  color: #fff;
  font-size: $font-x-small;
  text-transform: uppercase;
}
.language-bar {
  padding: 10px 10px;
  overflow: auto;
}

.current-language, 
.select-language {
  color: #fff;
  display: block;
  padding-right: 10px;
}
.select-language {
  font-weight: normal;
  text-decoration: underline;
  &:after {
    content: " ∨ ";
    font-size: $font-medium;
  }
}

.language-selection {
  background: $east_bay;
  border-bottom: 1px solid #685fa1;
  position: relative;
}
.language-list {
  .language-list__item {
    padding: 20px;
    a {
     color: #fff;
     font-size: $font-x-small;
     font-weight: normal;
      &:after {
        content: "❯";
        padding: 0 0 0 5px;
      }
    }
  }
}

