
.navigation {
  background: #f0f0f0;
  font-size: 13px;
}

.navigation-heading {
  border-top: 2px solid #4d4391;
  border-bottom: 1px solid #B0B9BB;
  a {
    display: block;
    padding: 0 24px;
  }

  //Best solution for this?
  img {
    width: 50%;
  }
}

.navigation-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-list__item  {
  border-bottom: 1px solid #B0B9BB;
  padding: 10px 24px;

  a {
    color: #6B6B6B;
    display: inline-block; 
  }

  &:after {
    content: " ▶ ";
    display: inline-block;
    padding: 10px 0 0;
    float: right;
    
  }
}

//There might be a better solution this?
.navigation-list__item--title {
  display: block; 
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
