
.profiles {
  background: #ffffff;
}

.profiles__subtitle {
  font-size: $font-x-medium;
}

.profile__fieldset {
  margin: 15px 0;
}

.profile__label {
  color: $victoria;
  display: block;
  font-size: $font-x-small;
  padding: 0 0 5px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.button__pill {
  border-radius: 4px;
  display: block;
  font-size: $font-small;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.button__pill--navy {
  background: $victoria;
  color: #ffffff;
}


.button__pill--white {
  background: #ffffff;
  color: $victoria;
}
