.personae {
  background: $victoria;
  color: #fff;
  overflow: auto;
  a {
    display: block;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
  }
}

.personae-list__item {
  border-top: 1px solid #60579C;
  padding: 10px 15px;
  word-wrap: break-word;
  &:last-child {
    border-bottom: 1px solid #60579C;
  }
  img {
    display: none;
  }
}
.personae-nav {
  padding-left: 35px;
  display: block;
  margin-top: 15px;
}

.personae__skip {
  display: block;
  padding: 15px;
}