
.search {
  background: #f0f0f0;
  position: relative;
  padding: 15px;

  input[type="submit"] {
    background: url('/static/img/search-submit.png') no-repeat center center;
    background-size: 70%;
    position: absolute;
    right: 23px;
    top: 10px;
    height: 53px;
    width: 53px;
    font-size: 0;
  }
}
