
.search {
  background: #f0f0f0;
  position: relative;
  padding: 10px 15px;
}


.search-form {
  position: relative;
  padding: 15px 0;
  input[type="submit"] {
    color: #000;
    text-align: left;
    width: auto;
    background: transparent;
    margin: 0;
  }
}

.search-form--main {
  padding: 10px 15px;
}

.search__feedback-title {
  font-size: $font-xx-large;
}

.call-to-action__nav-item--back-home {
  color: $victoria;
  font-weight: bold;
}

.search--results-list {
  .article-list__comments-counter {
    padding: 0 15px 10px 0;
  }
}

.search__result-item {
  display: block;
  margin-bottom: 10px;
  color: #757575;
}


.search--result__section-title {
  text-transform: uppercase;
}

.search--result__title {
    font-size: 30px;
    line-height: 1.0;
    padding: 10px 0;
    font-size: $font-x-large;
}
