
#search-form {
  position: relative;
}

.search {
  position: relative;

  input[type="submit"] {
    background: url('/static/img/search_icon.png') no-repeat 0 12px;
    background-size: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 53px;
    width: 53px;
    font-size: 0;
  }
}

.search__no-results {
  padding-bottom: 10px;
}

.search-list__container {
  padding: 15px;
}