.surveys {
  .call-to-action__nav-item--back-home {
    color: $roman;
    padding: 0 0 10px;
    margin: 0;
  }
}

.surveys__title {
  color: $roman;
  word-break: break-word;
  border-top: 2px solid $roman;
}

.surveys__title  {
  padding: 5px 15px;
  font-size: $font-x-large;
}

.surveys__thank-you {
  padding: 10px 16px;
  font-size: $font-x-large;
}

.surveys__intro {
  padding: 0 16px;
  font-weight: normal;
}

.surveys__results {
  padding: 5px 16px;
  margin: 15px 0;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}

.surveys__helptext {
  color: #999;
  font-size: $font-x-small;
  padding-bottom: 10px;
  display: block;
}

.surveys__answer {
  background: #DEDEDE;
  padding: 10px 5px;
  margin: 10px 5px;
  word-wrap: break-word;
}

.call-to-action--surveys {
  padding: 5px 16px;
}

input[type="submit"],
.call-to-action__nav-item--surveys {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

.surveys__form {
  padding: 0 16px;

  label {
    color: #000;
    padding: 0;
  }
}

.error--surveys {
  padding: 0 16px;
}
