
.languages {
  background: #2d2d2d;
  a {
    color: #fff;
    text-transform: capitalize;

    &:after {
      content: " | ";
      color: #4d4391;
    }

    &:last-child:after {
      content: "";
    }
  }
}

.logo {
  display:block;
  background: #4d4391;

  img {
    vertical-align: middle;
    width: 65%;
  }
}

.section-image {
  width: 100%;
  height: auto;
}

@import "_m-heading";
@import "_m-article";
@import "_m-navigation";
@import "_m-section-menu";
@import "_m-search";
@import "_m-copyright";

