.languages {
  background: #2d2d2d;
}

.languages a {
  color: #fff;
  text-transform: capitalize;

  &:after {
    content: " | ";
  }

  &:last-child:after {
    content: "";
  }
}

.logo {
  display:block;
  background: #4d4391;
}
.logo img {
  vertical-align: middle;
  width: 65%;
}

.section-image {
  width: 100%;
  height: auto;
}

@import "heading";

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.article-list__item {
  padding: 24px;
  border-bottom: solid 1px #e4e4e4;
  overflow: auto;
}


.article-list__image {
  width: 30%;
  height: auto;
  margin: 0 24px 9px 0;
  float: left;
}
.article-list__title--green {
  color: #6ec17f;
}







@import "section-links";
@import "search";
@import "footer";
