.section-links {
  margin: 0;
  padding: 0;
  background: #ededed;
}
.section-links a {
  color: #9630c8;
}
.section-links li {
  border-bottom: 1px #fff solid;
}
.section-links__title {
  font-weight: bold;
}
.section-links__desc {
  font-size: 14px;
  display: none;
}
