{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static core_tags i18n molo_survey_tags comments mptt_tags molo_commenting_tags %}
{% load  %}

{% block content %}
{% if self.image %}
  {% image self.image width-320 class="article__image" %}
{% endif %}
<ul class="section-list-nav section-list-nav{{self.get_parent_section.get_effective_extra_style_hints}}">
  <li class="section-list-nav__item section-list-nav__item--arrow-right"><a href="/">{% trans "Home" %}</a></li>
    {% if self.get_parent_section.get_parent_section %}
    {% with section=self.get_parent_section.get_parent_section %}
    <li class="section-list-nav__item  section-list-nav__item--arrow-right">
      <a href="{% pageurl section %}">{{section.title}}</a>
      {% with sub_section=self.get_parent_section %}
        <li class="section-list-nav__item">
          <a href="{% pageurl sub_section %}">{{sub_section.title}}</a>
        </li>
      {% endwith %}
      </li>
    {% endwith %}
    {% else %}
    {% with section=self.get_parent_section %}
    <li class="section-list-nav__item">
      <a href="{% pageurl section %}">{{section.title}}</a>
    </li>
    {% endwith %}
    {% surveys_list_for_pages page=self %}
    {% endif %}
</ul>
<div class="article article{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="article__title">{{self.title}}</h1>
  <p class="article__subtitle">{{self.subtitle}}</p>
  {% get_comment_count for self as comment_count %}
  {% if comment_count > 0 %}
    <a href="{% pageurl self %}#comments-list" class="article-list__comments-counter">
      {{comment_count}}
      <span class="comment-counter__text">{% trans "comment" %}{{comment_count|pluralize}}</span>
    </a>
  {% endif %}
  <div class="article__content">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h4 class="article__heading">{{ block.value }}</h4>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 class="article__image" %}
      {% elif block.block_type == 'numbered_list' %}
        <ol class="article-numbered-list">
          {% for item in block.value %}
          <li class="article-numbered-list__item">{{item}}</li>
          {% endfor %}
        </ol>
      {% elif block.block_type == 'page' %}
        <a href="{% pageurl block.value %}" class="featured-articles">{{block.value }}</a>
      {% else %}
          {{ block }}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% include "comments/comment_block.html" %}
{% endblock %}
