{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static core_tags i18n molo_survey_tags comments mptt_tags molo_commenting_tags i18n %}
{% load  %}

{% block content %}

{% if self.get_parent_section.get_parent_section %}
  {% with section=self.get_parent_section.get_parent_section %}
  <h2 class="l-indent heading heading--large heading{{section.get_effective_extra_style_hints}}">
    {{section.title}}
  </h2>
    {% with sub_section=self.get_parent_section %}
    <a href="{% pageurl section %}">
      <h3 class="l-indent--deep heading heading--back heading{{sub_section.get_effective_extra_style_hints}}">
        {{sub_section.title}}
      </h3>
    </a>
    {% endwith %}
  {% endwith %}
{% else %}
  {% with section=self.get_parent_section %}
  <a href="{% pageurl section %}">
    <h2 class="l-indent--deep heading heading--back heading--large heading{{section.get_effective_extra_style_hints}}">
      {{section.title}}
    </h2>
  </a>
  {% endwith %}

  {% surveys_list_for_pages page=self %}
{% endif %}


<div class="article article{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="article__title">{{self.title}}</h1>

  {% if self.image %}
    {% image self.image width-320 class="article__image" %}
  {% endif %}
  <p class="article__subtitle">{{self.subtitle}}</p>

  <article>
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h4>{{ block.value }}</h4>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 class="article__image" %}
      {% elif block.block_type == 'numbered_list' %}
        <ol>
          {% for item in block.value %}
          <li>{{item}}</li>
          {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
    {% endfor %}
  </article>
</div>

{% include "comments/comment_block.html" %}

{% endblock %}
