{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h4 class="heading heading--subtitle">{% trans "Standard data charges might apply"%}</h4>
  <div class="profiles">
    <p>{% trans "You are leaving The Internet of Good Things website to visit an external website and standard data charges by your network provider might apply" %}</p>
    <br />
    <br />
    <p><a href="{{ next }}">&gt;&gt; {% trans "Continue" %}</a></p>
    <br />
    <br />
    <p><a href="{{ prev }}">&gt;&gt; {% trans "Cancel" %}</a></p>
  </div>
{% endblock content %}

{% block external-link %}{% endblock external-link %}
