{% extends "base.html" %}

{% load static core_tags i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <h1 class="l-indent heading heading--large heading{{self.get_effective_extra_style_hints}}">
    {{self.title}}
  </h1>
  {% if self.image %}
    <a href="{% pageurl self %}">
      {% image self.image width-320 class="section-image" %}
    </a>
  {% endif %}
  {% load_child_sections_for_section self as sections %}
  {% for section in sections %}
    <h2 class="l-indent--deep heading">{{section.title}}</h2>
    <ul class="article-list">
    {% load_descendant_articles_for_section section featured_in_section=True as featured_articles %}
    {% for article in featured_articles %}
      <li class="article-list__item">
        {% if article.image %}
        <a href="{% pageurl article %}">{% image article.image width-80 class="article-list__image"%}</a>
        {% endif %}
        <a href="{% pageurl article %}">
          <h3 class="article-list__title article-list__title{{self.get_effective_extra_style_hints}}">{{article.title}}</h3>
        </a>
        <p class="article-list__subtitle">{{article.subtitle}}</p>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
