{% load wagtailcore_tags compress static wagtailuserbar core_tags i18n persona_tags  %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% load google_analytics_tags %}
{% get_settings %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
        <meta name="twitter:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
        {% image self.social_media_image width-300 as tmp_photo %}
        <meta name="twitter:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
        <meta property="og:title" content= "{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
        {% image self.social_media_image width-300 as tmp_photo %}
        <meta property="og:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
        <meta property="og:image:url" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss'%}">
        {% endcompress %}
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE|language_bidi == True %}
          {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style-rtl.scss'%}">
          {% endcompress %}
            {% endif %}
        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" {% if LANGUAGE_CODE|language_bidi == True %}dir="rtl"{% endif %}>
        {% if settings.core.SiteSettings.ga_tag_manager %}
        <!--Google Tag Manager -->
        {% persona_selected as persona_selected_value %}
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{settings.core.SiteSettings.ga_tag_manager}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}{% if persona_selected_value%}&persona={{ persona_selected_value }}&event=persona{% endif %}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{settings.core.SiteSettings.ga_tag_manager}}');</script>

      {% if persona_selected_value %}
        <script type="text/javascript">
          dataLayer.push({'persona': '{{ persona_selected_value }}', 'event': 'persona'});
        </script>
      {% endif %}

      <!-- End Google Tag Manager -->
      {% endif %}

      {% if settings.core.SiteSettings.global_ga_tag_manager %}
        <!--Global Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{settings.core.SiteSettings.global_ga_tag_manager}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{settings.core.SiteSettings.global_ga_tag_manager}}');</script>
        <!-- End Global Google Tag Manager -->
        {% endif %}

        {% if settings.core.SiteSettings.global_ga_tracking_code %}
        <div style="display:none">
            <img src="{% google_analytics settings.core.SiteSettings.global_ga_tracking_code %}" width="0" height="0" />
        </div>
        <!-- Global End Google Tracking Code -->
        {% endif %}

        {% if settings.core.SiteSettings.local_ga_tracking_code %}
        <div style="display:none">
            <img src="{% google_analytics settings.core.SiteSettings.local_ga_tracking_code %}" width="0" height="0" />
        </div>
        <!-- Local End Google Tracking Code -->
        {% endif %}

      {% if languages %}
      <div class="languages">
        <div class="language-bar">
          <span class="current-language">
            {% trans "Language" %}:
            {{ LANGUAGE_CODE|language_name_local }}
          </span>
          <label class="select-language" for="language-selection__toggle">
            {% trans "Change Language" %}
          </label>
        </div>

        <div class="language-selection">
          <input id="language-selection__toggle" type="checkbox">
          <ul class="language-list">
            {% for language in languages %}
            <li class="language-list__item {% if LANGUAGE_CODE == language.locale %} language-list__item--active{% endif %}">
              <a href="{% url 'locale_set' language.locale %}?next={{ request.path }}?{{ request.GET.urlencode }}">{{ language.locale|language_name_local }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>  
      {% endif %}

      <div class="header">
        <a href="/" class="logo">
          {% if settings.core.SiteSettings.logo %}
            {% image settings.core.SiteSettings.logo height-65 %}
          {% endif %}
        </a>
        <div class="menu-links">
        {% if not user.is_authenticated %}
        <a id="join_icon"href="{% url 'molo.profiles:user_register' %}" class="header__nav-item">{% trans "Join" %}</a>
        {% else %}
        <a id="profile_icon" href="{% url 'molo.profiles:view_my_profile' %}" class="header__nav-item">{% trans "Profile" %}</a>
        {% endif %}
        <a id="search_icon" href="#search__input" class="header__nav-item">{% trans "Search" %}</a>
        <a id="menu_icon" href="#section_menu" class="header__nav-item">{% trans "Menu" %}</a>
        </div>
      </div>

      {% block content %}{% endblock %}


      <div id="section_menu" class="section-menu">
        <div class="section-heading">
          <a href="/"><img src="{% static 'img/iogt_logo_2.png' %}" alt="The Internet of Good Things" width="40%"/></a>
        </div>
        <ul class="menu-list">

        {% load_sections as sections %}
        {% for section in sections %}
          <li class="menu-list__item menu-list__item{{section.get_effective_extra_style_hints}}">
            <a href="{% pageurl section %}">
              {{section.title}}
            </a>
            <span class="menu-list__description">{{section.description}}</span>
          </li>
        {% endfor %}
        </ul>
      </div>


      {% block search %}
        {% if languages %}
          {% include "search/search_block.html" %}
        {% endif %}
      {% endblock %}

      {% block footer %}
      <div class="footer">
        <ul class="menu-list">
          {% footer_page %}
          <li class="menu-list__item">
            {% if not user.is_authenticated %}
              <a href="{% url 'molo.profiles:user_register' %}" class="footer-link">
              <img src="{% static 'img/footer_login_icon.png' %}" width="30" class="menu-list__item--icon" />{% trans "Login" %}</a>
              {% else %}
              <a href="{% url 'molo.profiles:view_my_profile' %}" class="footer-link">
              <img src="{% static 'img/footer_login_icon.png' %}" width="30" class="menu-list__item--icon" />{% trans "Profile" %}</a>
            {% endif %}
          </li>
          <li class="menu-list__item">
            <a href="#languages" target="_top" for="language-selection__toggle"  class="footer-link">
              <img src="{% static 'img/footer_change_language.png' %}" width="30" class="menu-list__item--icon" />
              {% trans "Change your language"%}
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>&copy; The Internet of Good Things</p>
      </div>
      {% endblock %}
      {% block extra_js %}{% endblock %}
    </body>
</html>
