{% load wagtailcore_tags compress static wagtailuserbar core_tags i18n %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
        {% endcompress %}
        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

      {% if languages %}
      <div class="languages l-indent">
        {% for language in languages %}
          <a href="{% url 'locale_set' language.code %}">{{language.title}}</a>
        {% endfor %}
      </div>
      {% endif %}
      <a href="/" class="logo l-indent">
        {% block logo %}
        <img src="{% static 'logo_1line.png' %}" alt="The Internet of Good Things" />
        {% endblock %}
      </a>

      {% block content %}{% endblock %}

      {% section_listing_homepage %}

      {% block search %}
        {% if languages %}
          {% include "search/search_block.html" %}
        {% endif %}
      {% endblock %}

      {% block footer %}
      <div class="footer l-indent">
        <div>&copy; The Internet of Good Things</div>
        {% if language_page.footers %}
        <ul class="footer__links">
          {% for page in language_page.footers %}
          <li><a href="{% pageurl page %}">{{page.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endblock %}


      {% block extra_js %}{% endblock %}
    </body>
</html>
