<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Site Under Maintenance</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/maintenance.css">
  </head>
  <body class="maintenance-wrapper">
    <div class="text-container">
      <div class="branding">
        <img class="brand-logo" src="{{ STATIC_URL }}img/logo.png">
      </div>
      <div class="text-body">
        <img class="brand-icon" src="{{ STATIC_URL }}img/maintenance-icon.png">
        <div class="text-copy">
          <p>Internet of Good Things (IoGT) will be back soon!</p>
          <p>Our website is currently undergoing some scheduled maintenance, we will be back online shortly.</p>
          <p>Thanks for your patience.<br/>The IoGT team</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="copyright">&copy; The Internet of Good Things. All Rights Reserved.</p>
    </div>
  </body>
</html>
