.header {
  background: $victoria;
  color: #fff;
  overflow: auto;
  padding: 10px 15px;
}
.header__nav-item {
  text-decoration: underline;
  padding-right: 10px;
  font-weight: bold;
  color: #fff;
  font-size: $font-small;
}
