
//Base colors

$white            : #ffffff;
$black            : #000000;

$victoria         : #4D4391;
$east_bay         : #4E4682;
$scampi           : #685FA1;

$de-york          : #6dc27f;
$celery           : #a4ce55;
$mandy            : #e24256;
$wewak            : #ee97ac;
$robin-egg-blue   : #00bfc6;
$roman            : #df6859;
$danube           : #6093cd;
$dove-gray        : #737373;

$color_list: (
  de-york         : $de-york,
  celery          : $celery,
  mandy           : $mandy,
  wewak           : $wewak,
  robin-egg-blue  : $robin-egg-blue,
  roman           : $roman,
  danube          : $danube,
  dove-gray       : $dove-gray
);
