$de-york        : #6dc27f;
$celery         : #a4ce55;
$mandy          : #e24256;
$wewak          : #ee97ac;
$robin_egg_blue : #00bfc6;
$roman          : #df6859;
$danube         : #6093cd;
$dove_gray      : #737373;

$pelorous       : #37BFBE;
$eucalyptus     : #2A9B58;
$saffron        : #F2B438;
$sandy_brown    : #EF9955;
$cinnabar       : #EC3B3A;
$medium_violet  : #B62A99;
$indigo_blue    : #5F7AC9;

$color_list: (
  pelorous        : $pelorous,
  eucalyptus      : $eucalyptus,
  saffron         : $saffron,
  sandy_brown     : $sandy-brown,
  cinnabar        : $cinnabar,
  medium_violet   : $medium-violet,
  indigo_blue     : $indigo_blue  
  
);
