
$font-xx-small      : 9px;
$font-x-small       : 12px;
$font-small         : 14px;
$font-medium        : 16px;
$font-x-medium      : 18px;
$font-large       	: 20px;
$font-xx-large			: 25px;
$font-x-large       : 30px;

$victoria           : #4D4391;
$east_bay           : #4E4682;
$scampi             : #685FA1;


$de_york            :   #2A9B58;
$mandy              :   #EC3B3A;
$robin_egg_blue     :   #37BFBE;
$danube             :   #5F7AC9;
$roman              :   #EF9955;
$celery             :   #a4ce55;
$wewak              :   #ee97ac;
$dove_gray          :   #737373;
$saffron            :   #F2B438;
$medium_violet      :   #B62A99;


$color_list: (
  de_york           : $de_york,
  robin_egg_blue    : $robin_egg_blue,
  mandy             : $mandy,
  danube            : $danube,
  roman             : $roman,
  saffron           : $saffron,
  medium_violet     : $medium-violet,
);


