.footer {
  background: #f0f0f0;
  border-top: 2px solid #07292F;
  .menu-list__item {
    padding: 15px 0;
    .footer-link {
      color: $tiber;
      display: block; 
      font-size: $font-small;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: underline;
      padding: 0 15px;
    }
  }
}
.menu-list__item--icon {
  display: none;
}

.language-selection-footer {
  .language-list__item:last-child {
    border-bottom: 1px solid #B0B9BB;
  }
}
