.header {
  background: $victoria;
  color: #fff;
  overflow: auto;
  padding: 10px 15px;
}

.header__nav-item {
  float: right;
  text-decoration: underline;
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
  font-size: $font-small;

  height: 100%;
  line-height: 55px;
}
