
@import "variables/_variables";

@media only screen and (min-width: 320px) {
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

  @import "state_320/_s-article";
  @import "state_320/_s-comments";
  @import "state_320/_s-heading";
  @import "state_320/_s-menu";
  @import "state_320/_s-pagination";
  @import "state_320/_s-personae";
  @import "state_320/_s-polls";
  @import "state_320/_s-profiles";
  @import "state_320/_s-search";
  @import "state_320/_s-section";
  @import "state_320/_s-survey";

  html, body,
  h1, h2, h3, h4, h5, h6,
  input, select, textarea {
    font-family: 'Lato', sans-serif;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"] {
    border-radius: 4px;
  }

  .call-to-action__nav-item,
  input[type="submit"] {
    white-space: nowrap;
    padding: 10px 0;
  }

  input[type="submit"] {
    background: $victoria;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
}

@media only screen and (min-width: 600px) {

  html { background: #333; }

  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
