
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  padding: 8px 0;
}

@media only screen and (min-width: 320px) {
  .current-language {
    padding: 0 0 0 66px;
  }
  .language-list__item a:after {
    padding: 0 5px 0 0;
  }
  .section-list__more:after {
    padding: 0 10px 0 0;
  }
  .menu-list__item a:after,
  .menu-list__item .footer-links:after {
    float: left;
  }

  .menu-links { 
    float: left;
  }

  .article-list__image--small {
    float: left;
    padding: 35px 15px 35px 0;
  }
  
  .personae-list__item {
    padding: 10px 45px 10px 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"] {
    padding: 8px 45px;
  }
 
  .search-form input[type="submit"] {
    text-indent: 5em;
  }

  .footer { 
     a {
      padding: 0 50px 0 0;
    }
     .menu-list__item--icon {
      right: 15px;
      left: inherit;
     }
  }
}
