
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"], 
input[type="tel"],
input[type="search"] {
  padding: 8px 0;
}

.menu-list__item a::after {
  padding: 3px 0 0 5px;
}

@media only screen and (min-width: 320px) { 
  .call-to-action__comment-item--feedback {
    left: 15px;
    right: inherit;
  }
  
  .personae-list__item {
    padding: 10px 45px 10px 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"], 
  input[type="tel"],
  input[type="search"] {
    padding: 8px 45px;
  }

  .search-form input[type="submit"] {
    text-indent: 5em;
  }
}