
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  padding: 8px 0;
}
.language-list__item a:after {
  padding: 0 5px 0 0;
}

@media only screen and (min-width: 320px) {
  .current-language {
    padding: 0 0 0 48px;
  }
  .select-language:after {
    padding: 0 5px 0 0;
  }
  .section-list__more:after {
    padding-right: 10px;
  }
  .menu-links {
    float: left;
  }

  .header__nav-item:last-child {
    margin: 0 12px 0 0;
  }

  .menu-list__item a:after,
  .menu-list__item .footer-links:after {
    content: "";
    float: left;
  }

  .article-list__image--small {
    float: left;
    padding: 35px 15px 35px 0;
  }

  .personae-list__item {
    padding: 30px 45px 30px 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"] {
    padding: 8px 45px;
  }

  .search-form input[type="submit"] {
    text-indent: 5em;
  }
  .call-to-action__comment-item--report {
    right: inherit;
    top: 5px;
    left: 15px;
  }
  .footer { 
    .menu-list__item .footer-link {
      padding: 0 50px 0 15px;
      &:after { 
        float: left;
      }
    }
  }
  .menu-list__item--icon {
    right: 15px;
    left: inherit;
  }

  .personae__title {
    padding: 0 60px 0 0;
    &:after {
      float: left;
    }
  }
  .personae-list__item--image-container {
    right: 15px;
    left: inherit;
    background: yellow;
  }
}
