html, body {
  margin: 0;
  background: #fff;
  overflow: auto;
}
html, body, input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #757575;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  word-wrap: break-word;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

label {
  color: $victoria;
  display: block;
  font-size: $font-x-small;
  padding: 0 0 5px 0;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
}
fieldset {
  border: none;
  margin: 15px 0;
  padding: 0;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  border: 1px solid #b0b9bb;
  box-sizing: border-box;
  padding: 8px 10px;
  width: 100%;
}
select {
  font-size: $font-medium;
  display: block;
  margin: 10px 0;
  width: 100%;
}
textarea {
  width: 100%;
}
.call-to-action__nav-item,
input[type="submit"] {
  background: transparent;
  display: block;
  border-radius: 4px;
  border: none;
  color: $victoria;
  font-weight: bold;
  cursor: pointer;
  font-size: $font-small;
  margin: 10px 0;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100%;
}
.profiles__form {
  input[type=submit] {
    color: #4D4391;
    text-decoration: underline;
    font-weight: 400;
    text-align: left;
  }
}
