//Buttons
.search-form input[type="submit"] {
    text-indent: 0;
}

//Languages Select
.language-selection .language-list__item a:after {
  padding: 0 5px 0 0;
}


//Menus
.menu-list__description {
  padding: 0 0 0 15px;
}

.select-language,
.menu-list__item a:after,
.menu-list__item .footer-links:after {
    float: left;
}

//.menu-links {padding-right: 10px;}

.footer {
    .menu-list__item .footer-link:after,
    .call-to-action__item-share--footer:after {
      float: left;
    }
}
.footer-link__thumbnail-icon {
    float: right;
}

.section-list__more:after {padding-right: 10px;}
.header__nav-item:last-child {margin: 0 12px 0 0;}

//Articles
//To Look closely
.article-list__image--small {
    float: left;
    padding: 35px 15px 35px 0;
}
@media only screen and (min-width: 480px) {

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="search"] {
        padding: 8px 45px;
    }
    .search-form input[type="submit"] {
        text-indent: 5em;
        left: 15px;
        right: auto;
    }
    .call-to-action__comment-item--report {
        right: inherit;
        top: 5px;
        left: 15px;
    }
    .call-to-action__item-share-with-image {text-align: right;}
    .personae-list__item {padding: 30px 45px 30px 15px;}
    .personae__title {
        padding: 0 60px 0 0;
        &:after {
         left: 10px;
         right: auto;
        }
    }
    .personae-list__item--image-container {
        right: 15px;
        left: inherit;
    }
    #comment__list .call-to-action__nav-item--response,
    #comments-list .call-to-action__nav-item--response {
        left: 15px;
        right: inherit;
    }
}
