.heading {
  padding: 0 0 15px;
}
.heading--subtitle {
  padding: 10px 15px;
}
.heading--feedback-title {
  padding: 0 15px 10px;
}
.heading--large {
  font-size: $font-x-large;
  padding: 15px 15px 0;
  text-transform: capitalize;
}
.heading--profiles,
.heading__profiles {
  color: $victoria;
  font-size: $font-x-large;
  text-transform: capitalize;
  padding: 10px 15px;
}
.heading--personae {
  background: $victoria;
  padding: 15px;
  color: #fff;
  font-size: $font-medium;
  text-transform: uppercase;
}
.heading--navigation {
  color: #fff;
  background: $victoria;
}
.heading--homepage {
  background: transparent;
  padding: 10px 15px;
  text-transform: uppercase;
}
.heading--comment {
  text-transform: uppercase;
  padding: 0 10px;
}
.comment__description {
  padding: 0 10px 30px;
  font-weight: 400;
}
.heading--search {
  color: $victoria;
  text-transform: uppercase;
  font-size: $font-medium;
  padding: 10px 15px 10px;
  border-bottom: 1px solid #B0B9BB;
}
.heading--polls {
  color: $robin_egg_blue;
  font-size: $font-small;
  padding: 10px 15px;
  text-transform: uppercase;
  border-top: 2px solid $robin_egg_blue;
}
.heading--footerpage {
  font-size: $font-x-large;
  padding: 5px 15px;
}
.section-heading {
  border-bottom: 1px solid #B0B9BB;
  padding: 10px 15px;
  a {
    display: block;
  }
}
