.languages {
  background: $victoria;
  color: #fff;
  font-size: $font-x-small;
  text-transform: uppercase;
}
.language-bar {
  overflow: auto;
  border-bottom: 1px solid $light_scampi;
}
.current-language {
  color: #fff;
  display: block;
  padding-right: 10px;
  span:nth-child(odd) {
    opacity: 0.8;
  }
  span:nth-child(even) {
    font-weight: bold;
  }
}
.select-language {
  color: #fff;
  display: block;
  padding-right: 10px;
  float: none;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  &:after {
    content: "";
    background: url('/static/img/lang_chevron.svg') no-repeat 0 0;
    margin: 0 5px;
    display: inline-block;
    width: 11px;
    height: 8px
  }
}
.select-language--footer {
  padding: 0;
 &:after {
    font-size: $font-small;
 }
}
.language-selection {
  .language-list {
    background: $east_bay;
  }
  .language-list__item {
    padding: 20px;
    a {
      color: #fff;
      &:after {
        padding: 0 0 0 5px;
        @media only screen and (min-width: 320px) {
          content: ">";
        }
        @media only screen and (min-width: 490px) {
          content: "❯";
        }
      }
    }
  }
}
.language-selection-footer {
  padding: 10px 0 0;
  border-bottom: none;
  .language-list {
    background: #f0f0f0;
  }
  .language-list__item a {
    color: $tiber;
  }
}
