.pagination {
  padding: 5px 0px 30px;
  overflow: auto;
  .pagination__current {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }
}
.pagination__previous-anchor,
.pagination__next-anchor {
  display: inline-block;
}
.pagination__link {
  color: #60599C;
  font-size: $font-x-small;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  padding: 15px 0;
}
.pagination__link--arrow {
  display: none;
}
.pagination--numbered {
  position: relative;
}
.pagination__pages-numbers {
  display: inline-block;
}
