.profiles {
  padding: 0 15px 10px;
  .heading--subtitle {
      padding: 10px 0;
  }
  p {
    display: inline;
    font-size: $font-small;
    padding: 5px 0;
  }
  a {
      text-decoration: none;
      color: $victoria;
      padding: 0 5px;
      text-decoration: underline;
  }
  .call-to-action__nav-item,
  input[type="submit"] {
      color: #fff;
      padding: 10px 0;
      text-decoration: none;
  }
  label {
    display: block;
    padding: 0 5px 5px 0;
  }
  label[for="id_date_of_birth_year"] {
    display: block;
  }
  .call-to-action--profile,
  .call-to-action--view-profile {
    padding: 0;
  }

}
.profiles--csrf {
  p {
    display: block;
    padding: 0;
  }
}
label.profiles__terms {
    color: $dove_gray;
    text-decoration: none;
}
.profiles__terms {
  display: inline-block !important;
  color: $victoria;
  font-size: $font-small;
  text-transform: inherit;
  font-weight: normal;
  text-decoration: underline;
}
.profiles__nav-item {
  color: $victoria;
  display: inline;
  text-transform: capitalize;
  text-decoration: underline;
}
.profile__alias {
  display: inline;
}
.profile__alias--label {
  font-size: $font-medium;
  font-weight: bold;
}
.profiles__forgotten-password {
  color: $victoria;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $font-small;
  text-decoration: underline;
}
.error {
  display: block;
  font-size: $font-small;
  color: red;
  padding: 5px 25px 0 0;
}
.errorlist li {
  color: red;
  font-size: $font-small;
}
.required:after {
  content: "*";
  color: red;
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
}
