.logo  {
  display: block;
  img {
    margin-bottom: 10px;
    vertical-align: middle;
    height: auto;
    max-width: 40%;
  }
}
.section-image {
  width: 100%;
  height: auto;
}
.error {
  font-size: $font-x-small;
  display: block;
  color: #ff0000;
}
@import "_m-languages";
@import "_m-heading";
@import "_m-banner";
@import "_m-call-to-action-buttons";
@import "_m-article-list";
@import "_m-article";
@import "_m-articles-related";
@import "_m-menu";
@import "_m-section-menu";
@import "_m-search";
@import "_m-copyright";
@import "_m-profiles";
@import "_m-section";
@import "_m-comments";
@import "_m-personae";
@import "_m-polls";
@import "_m-pagination";
@import "_m-survey";
@import "_m-media.scss";
