.footer  {
  .menu-list__item {
  position: relative;
  overflow: auto;
    .footer-link {
      text-decoration: none;
      &:after {
        display: inline-block;
        float: right;
        margin-top: 3%;
        @media only screen and (min-width: 320px) {
          content: ">";
        }
        @media only screen and (min-width: 490px) {
          content: "❯";
        }
      }
      .footer-link__title {
        margin: 3% 0;
        display: inline-block;
        width: 80%;
      }
    }
    .footer-link--no-image-upload {
      &:after {
        margin-top: 0;
      }
      .footer-link__title {
        margin-top: 0;
        display: inline;
      }
    }
  }
  .menu-list__item--icon {
    width: 87%;
  }
}
.footer-link__thumbnail-icon {
  display: inline-block;
  height: auto;
  max-width: 45px;
  vertical-align: middle;
  width: 20%;
}
