.profiles__forgotten-password {
  font-size: $font-x-small;
}
.call-to-action--profile {
  background: $victoria;
  color: #fff;
}
.call-to-action--view-profile,
.call-to-action--view-profiles {
  background: transparent;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  border-radius: 4px;
}
select {
  width: 30%;
  display: inline-block;
  margin: 0 3px 0 0;
}
textarea {
  padding: 5px;
  width: 95%;
}
.call-to-action__nav-item,
input[type="submit"] {
  white-space: nowrap;
  padding: 10px 0;
}
input[type="submit"] {
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}
.profiles__form {
    input[type=submit] {
      background: $victoria;
      color: #fff;
      margin: 10px 0;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
    }
}
