.surveys {
  .call-to-action__nav-item--back-home {
    padding: 0 15px 10px;
  }
  input[type="submit"] {width: 100%;}
  input[type="submit"],
  .call-to-action__nav-item--surveys {
    background: $roman;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: $font-small;
  }
  .section-list-nav {
    background: $roman;
    .section-list-nav__item {
      color: #fff;
      a {color: #fff;}
      span {color: #fff;}
    }
  }
}
.surveys__form {
  padding: 0 15px;
}
.surveys__results,
.surveys__results {
  padding: 0 15px;
}
