.section {
  &__image {
    @media only screen and (min-width: 360px) {
      img {
         width: auto;
         height: auto;
       }
    }
  }
  &__title {
    color: #757575;
    &-heading {
      padding: 15px 15px 10px;
    }
  }
  &__description {
    padding: 0 15px 10px;
  }
  &__more {
    text-decoration: none;
    text-align: right;
    &:after {
      padding: 0 10px;
      @media only screen and (min-width: 320px) {
        content: ">";
        margin-left: 5px;
      }
      @media only screen and (min-width: 490px) {
        content: "❯";
        margin-left: 10px;
        font-size: 0.75em;
      }
    }
  }
}

.sub-section-list__title {
  &:after {
    padding: 0 10px 0;
    @media only screen and (min-width: 320px) {
      content: ">";
    }
    @media only screen and (min-width: 490px) {
      content: "❯";
    }
  }
}
.section-list-nav {
  padding: 7px 15px;
  &__item {
    .section-list-nav__link {
      color: #757575;
      text-decoration: none;
    }
  }
}

@each $name, $color in $color_list {
  .section--#{$name} {
    .section__title,
    .section__info,
    .section__subtitle {
      background: $color;
      color: #fff;
    }
    .sub-section-list__title:after {
      color: $color;
    }
  }
  .section-list--#{$name} {
    .section-list__title--homepage,
    .section-list__title a,
    .section-list__more {
      color: $color;
    }
    .section-list__more {
      text-align: right;
      text-decoration: none;
      &:after {
        display: inline-block;
        padding: 0 10px;
        @media only screen and (min-width: 320px) {
          content: ">";
        }
        @media only screen and (min-width: 490px) {
          content: "❯";
        }
      }
    }

    .article-list__item--hero {
      border-top-color: $color;
    }
  }
  .section-list-nav--#{$name} {
    border-top: 1px solid darken($color, 10%);
    background: $color;
    color: #fff;
    .section-list-nav__item a,
    .section-list-nav__item span,
    .section-list-nav__link,
    .section-list-nav__item--arrow-right:after {
      color: #fff;
    }
  }

}
