.search-form {
    @media only screen and (min-width: 480px) {
        input[type="submit"] {
          background: url('/static/img/search_icon_black.png') no-repeat 0 0;
          position: absolute;
          right: 15px;
          top: 15px;
          height: 21px;
          width: 21px;
          text-indent: -99em;
          margin: 10px 0;
        }
    }
}
.search-form--main {
  background: $victoria;
  padding: 15px 15px 30px;
  input[type="submit"] {
    right: 30px;
  }
}
@each $name, $color in $color_list {
  .search--result .article-list__item--#{$name} {
    .search--result__section-title,
    .search--result__title-highlight,
    .highlight-description {
      color: $color;
    }
  }
}
