
$font-xx-small            :     9px;
$font-x-small             :     12px;
$font-small               :     14px;
$font-medium              :     16px;
$font-x-medium            :     18px;
$font-large               :     20px;
$font-x-large             :     25px;
$font-xx-large            :     30px;
$tiber                    :     #07292F;
$mecury                   :     #eae9e9;
$light_scampi             :     #685FA1;
//Gray
$dove_gray                :     #737373;
$mineral_gray             :     #dedede;
$washed_gray              :     #f1f1f1;
//Brown
$brown                    :     #a03321;
//Violet
$medium_red_violet        :     #B62A99;
$dark_medium_red_violet   :     #b43393;
$violet_blue              :     #a54f9e;
$mandy                    :     #E24256;
$plum                     :     #7e2268;
$wisteria                 :     #8e68ad;
$grape                    :     #541c56;
$paris_m                  :     #202855;
$east_bay                 :     #4E4682;
$victoria                 :     #4D4391;
$scampi                   :     #685FA1;
//Orange
$sandybrown               :     #EF9955;
$jaffa                    :     #ee8c39;
//Yellow
$saffron                  :     #F2B438;
$saffron_light            :     #f2b437;
//Red
$cinnabar                 :     #EC3B3A;
$cinnabar_dark            :     #ee5523;
$cardinal                 :     #bf2026;
$pomegranate              :     #ed3330;
$roman                    :     #DF6859;
$mauvelous                :     #F38AA5;
$beed_blush               :     #e764a0;
$maxican_red              :     #a21d2e;
$kobi                     :     #d481b5;
$illusion                 :     #ee97ac;
//Green
$celery                   :     #A4CE55;
$de_york                  :     #6EC17F;
$eucalyptus               :     #2A9B58;
$tradewind                :     #4bab99;
$moss_green               :     #b3d9a1;
//Blue
$danube                   :     #6093CD;
$light_danube             :     #627abc;
$indigo                   :     #5F7AC9;
$mariner                  :     #4759a6;
$robin_egg_blue           :     #00BFC6;
$pelorous                 :     #37BFBE;
$iris_blue                :     #03acc3;
$red_berry                :     #711e29;
$bay_of_may               :     #2b378c;
$viking                   :     #3bbfbd;
$denim                    :     #127f99;
$tory_blue                :     #134b90;
$color_list: (
  brown                   :     $brown,
  medium_violet           :     $medium_red_violet,
  dark_violet             :     $dark_medium_red_violet,
  dark_blue               :     $violet_blue,
  mandy                   :     $mandy ,
  plum                    :     $plum,
  wisteria                :     $wisteria,
  grape                   :     $grape,
  paris                   :     $paris_m,
  east_bay                :     $east_bay,
  victoria                :     $victoria,
  scampi                  :     $scampi,
  sandybrown              :     $sandybrown,
  jaffa                   :     $jaffa,
  saffron                 :     $saffron,
  saffron_light           :     $saffron_light,
  cinnabar                :     $cinnabar,
  cinnabar_dark           :     $cinnabar_dark,
  cardinal                :     $cardinal,
  pomegranate             :     $pomegranate,
  roman                   :     $roman,
  mauvelous               :     $mauvelous,
  beed_blush              :     $beed_blush,
  maxican_red             :     $maxican_red,
  kobi                    :     $kobi,
  illusion                :     $illusion,
  celery                  :     $celery,
  de_york                 :     $de_york,
  eucalyptus              :     $eucalyptus,
  tradewind               :     $tradewind,
  moss_green              :     $moss_green,
  danube                  :     $danube,
  light_danube            :     $light_danube,
  indigo                  :     $indigo,
  mariner                 :     $mariner,
  robin_egg_blue          :     $robin_egg_blue,
  pelorous                :     $pelorous,
  iris_blue               :     $iris_blue,
  red_berry               :     $red_berry,
  bay_of_may              :     $bay_of_may,
  viking                  :     $viking,
  denim                   :     $denim,
  tory_blue               :     $tory_blue
);
//Mixin
@mixin float-clear($value) {
  float: $value;
  clear: $value;
}
