{% load comments mptt_tags molo_commenting_tags i18n %}

{% if self.is_commenting_enabled %}
<div class="comment-form comment-form{{self.get_parent_section.get_effective_extra_style_hints}}">
<h4 class="comment__title">{% trans "Share a Comment" %}</h4>
{% if self.allow_commenting %}
  <div class="post-comment">
    {% if request.user.is_authenticated %}
      {% render_comment_form for self %}
    {% else %}
      <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="call-to-action__nav-item call-to-action__nav-item--comment">
        {% trans "Log in to comment" %}
      </a>
    {% endif %}
  {% else %}
    <p>{% trans "Commenting on this article is currently disabled" %}</p>
  {% endif %}
	</div>

  {% get_comment_count for self as comment_count %}
  {% if comment_count > 0 %}
    <h5 class="comment__counter">{% trans "Comment" %}
      <a href="#">{{comment_count}}{% trans "comment" %}{{comment_count|pluralize}}</a>
    </h5>
  {% endif %}
</div>

<div class="comments-list comments-list{{self.get_parent_section.get_effective_extra_style_hints}}">
  {% get_comment_count for self as comment_count %}
    {% get_molo_comments for self as comment_list %}
      {% for node in comment_list %}
        {% recursetree node %}
            {% include "comments/comment.html" %}
            {{ children }}
        {% endrecursetree %}
      {% endfor %}
  {% if comment_count > 5 %}
  <div class="pagination">
    <a href="{% url 'more-comments' self.pk %}" class="pagination__link">{% trans "view more" %}</a>
  </div>

{% endif %}
</div>
{% endif %}
