{% load i18n molo_commenting_tags %}
<div class="comment-list__item {% if node.user.is_staff %}staff{% endif %}">
  <h4 class="comment__author">
    {% if node.user_name.lower == 'anonymous' %}
      {{node.user_name}}
    {% else %}
      {% if not node.user.profile.alias %}
        {% trans "Anonymous" %}
      {% else %}
        {{node.user.profile.alias}}
      {% endif %}
    {% endif %}
  </h4>
  {% if node.is_removed %}
    <h6 class="comment__description">
    {% trans "This comment has been removed by the community. Please read our platform rules." %}</h6>
  {% else %}
  <p>{{node.comment}}</p>
    {% if node.parent == None %}
        <a href="{% url 'molo.commenting:molo-comments-report' node.pk %}?next={% url 'molo.commenting:report_response' node.pk %}" class="call-to-action__nav-item call-to-action__nav-item--response">
        {% trans "Report" %}</a>
        {% if request.user|is_in_group:'Expert' and not node.user|is_in_group:'Expert' %}
          <a href="{% url 'molo.commenting:molo-comments-reply' node.pk %}" class="call-to-action__nav-item call-to-action__nav-item--response">{% trans "Reply"%}</a>
        {% endif %}
    {% endif %}
  {% endif %}
</div>
